/*the external cascading stylesheet*/
/*Author: Dory Gillikin*/


* {
  box-sizing: border-box;
}
body {
	 font-family: Arial, Helvetica, sans-serif;
	 background-image: linear-gradient(to top, #622F22, #7F462C);
	 background-repeat: repeat;
	 background-size: cover;
	 opacity: 1;	 
}
h2 {
  color: #FBB117;
  padding: 20px;
  text-align: center;
  text-shadow: .5px .5px 1px #3D0C02;
}
p {
	color: #FBB917;
	font-size: 1.2em;
	line-height: 2em;
	text-shadow: 1px 1px 1px #3D0C02;
}

.row::after {
  content: "";
  clear: both;
  display: table; 
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.header {
  font-family:Papyrus, fantasy;
  background-image: linear-gradient(to right, #804A00, #D4A017); 
  color: #560319;
  padding: 1px;
  text-align: center;
  text-shadow: 1.3px 1.3px 1.3px #660000;
  box-shadow: 0 1px 3px #3D0C02, 0 1px 2px #3D0C02;
  border: 5px solid #7E3517;
  border-radius: 15px;		
  opacity: 1;
  
}
ul {font-family:Papyrus, fantasy;
    list-style: none;     
	text-shadow: 2.3px 2.3px 2.3px #3D0C02; 
	opacity: 2;
}
ul li {		      
      line-height: 30px;
      text-align: center;	  
      font-size: 1.5em;	 
}
ul li a {
	  text-decoration: none; 
	  color: #FFCE44;	  
}
.menu ul { 
  margin: 0;
  padding: 0;
}
.menu li {
	padding: 8px;
	margin-bottom: 7px;
	background-image: linear-gradient(to right, #804A00, #C68E17); 	
	box-shadow: 0 1px 3px #3D0C02, 0 1px 2px #3D0C02;
	border: 2px solid #7E3517;
	border-radius: 10px;		
}
.menu li:hover {
  background-image: linear-gradient(to right, #C58917, #C68E17); /* Change gradient on hover */
}

.aside {
  background-color: #C68E17;
  padding: 10px;
  text-align: center;
  text-shadow: 1.3px 1.3px 1px #3D0C02; 
  box-shadow: 0 1px 3px #3D0C02, 0 1px 2px #3D0C02;
  border: 2px solid #7E3517;
  border-radius: 10px;		
  opacity:1;
width: 100%;
}

.footer {
	color: #622F22;
	  background-color: #C68E17;	  
	  text-align: center;	  		       
      padding: 1%;
	  border: 1px solid #7E3517;
      border-radius: 10px;
	  font-size: 100%;	 
		}
.footer a {
    text-decoration: none;  /* Removes the underline */
    color: inherit;  /* Inherits the color from the parent .footer */
}

.footer a:hover {
    color: #FBB917;  /* Change the color when hovering */
}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 30%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}


  .col-6 {width: 40%;}


  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

  
